body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #dce0cb;
  color: #333;
  margin-left: 150px;
  margin-right:  150px;
}

header {
  background-color: #e4b425;
  margin-left: 103px;
  margin-right: 103px;
  color: #1c1a1a;
  padding: 30px;
  text-align: center;
}

header .logo {
  max-width:170px;
  text-align: left;
  
  margin-right: 1000px;
  margin-left: 0px;
 
  left: 160px; /* Position the logo on the left side */

}

main {
  width: 80%;
  
  margin-left: 103px;
  margin-right:83px;
  background-color: #9cf0aa;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #004080;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="radio"] {
  margin-right: 5px;
}

textarea {
  height: 100px;
}

button {
  background-color: #004080;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #003366;
}

footer {
  text-align: center;
  padding: 15px;
  background-color:#e4b425;
  color: #211f1f;
  margin-left: 103px;
  margin-right: 103px;
}

footer a {
  color: #262624;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.header-text h1 {
  font-size: 1.5em;
  color: #181816;
  margin: 0;
  font-weight: bold;
}
.header-text {
  text-align: center;
  margin-left: 70px; /* Adjusts for logo spacing */
}

.header-text h1 {
  font-size: 1.2em;
  margin: 5px 0 10px 0;
  font-style: italic;
}

.header-text p {
  font-size: 0.9em;
  margin: 0;
  font-weight: normal;
}
